div(id="footer")
    ul.icons
        li
            a.icon.fa-github(href="https://github.com/holateam" target="_blank")
                span.label Github
    ul.copyright
        li 2017 &copy; HOLATEAM. All rights reserved.
        li Design:
            a(href="http://html5up.net" target="_blank") HTML5 UP
